

.jumbotron {
  position: relative;
  padding: 40px 0;
}
.jumbotron h1 {
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0 0 10px 0;
}
.jumbotron p {
  font-size: 21px;
  line-height: 1.275;
  margin: 0 0 20px 0;
}
.jumbotron .btn {
  margin-top: 10px;
}
.jumbotron .btn-large {
  margin-top: 20px;
  font-size: 18px;
}
.masthead {
  padding: 80px 0 60px;
  text-align: center;
}
.masthead h1 {
  font-size: 98px;
}
.masthead p {
  font-size: 42px;
}
.masthead .btn-large {
  font-size: 28px;
  padding: 14px 28px;
}
.jumbotron.has-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.masthead.has-image {
  text-align: left;
}
.thumbnails {
  margin-bottom: 20px;
  margin-left: -40px;
  list-style: none;
  *zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
  display: table;
  content: "";
  line-height: 0;
}
.thumbnails:after {
  clear: both;
}
.row-fluid .thumbnails {
  margin-left: 0;
}
.thumbnails > li {
  float: left;
  position: relative;
  margin-bottom: 20px;
  margin-left: 40px;
}
.thumbnail {
  border: 1px solid #ddd;
  display: block;
  padding: 4px;
  line-height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a.thumbnail:hover {
  border-color: #07b;
  -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
  -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
  box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #666;
}
.thumbnails.paper > li:before,
.thumbnails.paper > li:after {
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.thumbnails.paper > li:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.thumbnails.paper .thumbnail {
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.thumbnails.paper a.thumbnail.paper:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.t3-logo,
.t3-logo-small {
  display: block;
  text-decoration: none;
  text-indent: -9999em;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
}
.t3-logo {
  width: 182px;
  height: 50px;
}
.t3-logo-small {
  width: 60px;
  height: 30px;
}
.t3-logo,
.t3-logo-color {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-color.png");
}
.t3-logo-small,
.t3-logo-small.t3-logo-color {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-color.png");
}
.t3-logo-dark {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-dark.png");
}
.t3-logo-small.t3-logo-dark {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-dark.png");
}
.t3-logo-light {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-light.png");
}
.t3-logo-small.t3-logo-light {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-light.png");
}

