

.t3-mainnav {
  
  background: -moz-linear-gradient(left,rgba(255,255,255,0) 0%,#212121 10%,#212121 90%,rgba(255,255,255,0) 100%);
  
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(10%,#212121),color-stop(90%,#212121),color-stop(100%,rgba(255,255,255,0)));
  
  background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,#212121 10%,#212121 90%,rgba(255,255,255,0) 100%);
  
  background: -o-linear-gradient(left,rgba(255,255,255,0) 0%,#212121 10%,#212121 90%,rgba(255,255,255,0) 100%);
  
  background: -ms-linear-gradient(left,rgba(255,255,255,0) 0%,#212121 10%,#212121 90%,rgba(255,255,255,0) 100%);
  
  background: linear-gradient(to right,rgba(255,255,255,0) 0%,#212121 10%,#212121 90%,rgba(255,255,255,0) 100%);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#00ffffff',GradientType=0);
}
.t3-mainnav .navbar {
  color: #666;
  margin-bottom: 0;
  margin-top: 0;
}
.t3-mainnav .navbar-inner {
  min-height: 40px;
  padding: 0;
  background: transparent;
  border: 0;
  border-left: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.t3-mainnav .navbar .nav {
  margin: 0;
}
.t3-mainnav .navbar .nav > li > a {
  
  border-top: 0;
  padding: 12px 20px;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 21px;
  color: #fff;
}
.t3-mainnav .navbar .nav > li > a:focus,
.t3-mainnav .navbar .nav > li > a:hover {
  
  background: transparent;
}
.t3-mainnav .navbar .nav > .active > a,
.t3-mainnav .navbar .nav > .active > a:hover,
.t3-mainnav .navbar .nav > .active > a:focus {
  color: #f29400;
  text-shadow: none;
  background: transparent;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.t3-mainnav .navbar .btn-navbar {
  float: left;
  padding: 5px 10px;
  margin: 4px 20px 4px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #0d0c0c;
  background-image: -moz-linear-gradient(top,#151414,#000000);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#151414),to(#000000));
  background-image: -webkit-linear-gradient(top,#151414,#000000);
  background-image: -o-linear-gradient(top,#151414,#000000);
  background-image: linear-gradient(to bottom,#151414,#000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151414', endColorstr='#ff000000', GradientType=0);
  border-color: #000000 #000000 #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.t3-mainnav .navbar .btn-navbar:hover,
.t3-mainnav .navbar .btn-navbar:focus,
.t3-mainnav .navbar .btn-navbar:active,
.t3-mainnav .navbar .btn-navbar.active,
.t3-mainnav .navbar .btn-navbar.disabled,
.t3-mainnav .navbar .btn-navbar[disabled] {
  color: #fff;
  background-color: #000000;
  *background-color: #000000;
}
.t3-mainnav .navbar .btn-navbar:active,
.t3-mainnav .navbar .btn-navbar.active {
  background-color: #000000 \9;
}
.t3-mainnav .navbar .btn-navbar [class^="icon-"],
.t3-mainnav .navbar .btn-navbar [class^=" icon-"] {
  color: #666;
  text-shadow: none;
}
.t3-mainnav .dropdown .caret {
  margin-left: 5px;
}
.t3-mainnav .dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.t3-mainnav .dropdown-menu li > a {
  border-top: 1px solid #eee;
  padding: 5px 20px;
  text-shadow: none;
}
.t3-mainnav .dropdown-menu li:first-child > a {
  border-top: 0;
}
.t3-mainnav .navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.t3-mainnav .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.t3-mainnav .dropdown-menu .disabled > a,
.t3-mainnav .dropdown-menu .disabled > a:hover {
  color: #999;
}
.t3-mainnav .dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
.t3-mainnav .nav li.dropdown.open > .dropdown-toggle {
  background-color: #666;
  color: #eee;
}
.t3-mainnav .nav li.dropdown.active > .dropdown-toggle,
.t3-mainnav .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #f29400;
  color: #eee;
}

