

.t3-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  float: left;
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image {
  overflow: hidden;
}
.logo-image a {
  background-image: url("../../templates/providores/images/logo.png");
  background-repeat: no-repeat;
  width: 204px;
  height: 65px;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text a {
  color: #444;
  text-decoration: none;
  font-size: 17.5px;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.head-search {
  float: right;
  margin-top: 20px;
}
.head-search form {
  margin: 0;
  float: right;
}
.head-search label {
  display: none;
}
.head-search .input {
  background: url("../../templates/providores/images/ico/search-invert.png") no-repeat 8px center;
  width: 120px;
  padding-left: 26px;
}
.head-search .input:focus {
  color: #444;
  width: 180px;
}
.t3-sl {
  padding-bottom: 60px;
  padding-top: 60px;
}
.t3-mainbody {
  padding-bottom: 40px;
  padding-top: 40px;
}
.t3-footer {
  background: #222;
  color: #666;
  *zoom: 1;
}
.t3-footer:before,
.t3-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer a {
  color: #999;
}
.t3-footer a:hover,
.t3-footer a:active,
.t3-footer a:focus {
  color: #e6e6e6;
}
.t3-footnav {
  padding: 60px 0 40px;
  *zoom: 1;
}
.t3-footnav:before,
.t3-footnav:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-footnav:after {
  clear: both;
}
.t3-footnav ul {
  list-style: none;
  margin-left: 0;
}
.t3-footnav li {
  line-height: 24px;
}
.t3-footnav .module-title {
  font-size: 18px;
  color: #999;
}
.t3-copyright {
  border-top: 1px solid #2f2f2f;
  font-size: 12px;
  padding: 40px 0 80px;
  *zoom: 1;
}
.t3-copyright:before,
.t3-copyright:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-copyright:after {
  clear: both;
}
.copyright {
  float: left;
}
.poweredby {
  float: right;
  text-align: right;
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  float: right;
  opacity: .5;
}

