

body {
  background-color: #fff;
  color: #666;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
a {
  color: #07b;
  text-decoration: none;
}
a:hover {
  color: #00466f;
  text-decoration: underline;
}
img {
  max-width: 100% !important;
}
.img-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  line-height: 20px;
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
}
td {
  border-top: 1px solid #ddd;
}
th {
  background: #444;
  color: #eee;
  font-weight: bold;
}
th a {
  color: #eee;
}
th a:hover,
th a:focus,
th a:active {
  color: #fff;
}
.cat-list-row0:hover,
.cat-list-row1:hover {
  background: #f5f5f5;
}
.cat-list-row1,
tr.cat-list-row1 td {
  background: #f9f9f9;
}
table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}
table.contentpaneopen {
  border: 0;
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #ddd;
}
.row-odd {
  background-color: transparent;
}
.row-even {
  background-color: #f9f9f9;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  margin-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: #f5f5f5;
}
.row-striped .row-fluid {
  width: 97%;
}
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
  margin-left: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.star {
  color: #fc0;
}
.red {
  color: #c00;
}
.center,
.table td.center,
.table th.center {
  text-align: center;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
hr.hr-condensed {
  margin: 10px 0;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.width-auto {
  width: auto;
}

