

.t3-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  float: left;
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image {
  overflow: hidden;
  text-align: center;
}
.logo-image a {
  background-image: url("../../templates/providores/images/logo.png");
  background-repeat: no-repeat;
  width: 305px;
  height: 130px;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text a {
  color: #444;
  text-decoration: none;
  font-size: 17.5px;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.head-search {
  float: right;
  margin-top: 20px;
}
.head-search form {
  margin: 0;
  float: right;
}
.head-search label {
  display: none;
}
.head-search .input {
  background: url("../../templates/providores/images/ico/search-invert.png") no-repeat 8px center;
  width: 120px;
  padding-left: 26px;
}
.head-search .input:focus {
  color: #444;
  width: 180px;
}
.t3-sl {
  padding-bottom: 60px;
  padding-top: 60px;
}
.t3-mainbody {
  padding-bottom: 40px;
  padding-top: 40px;
}
.t3-footer {
  background: #1f1f1f;
  color: #ffffff;
  *zoom: 1;
}
.t3-footer:before,
.t3-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer a {
  color: #ffffff;
  font-size: 14px;
}
.t3-footer a:hover,
.t3-footer a:active,
.t3-footer a:focus {
  color: #e6e6e6;
}
.t3-footnav {
  padding: 60px 0 40px;
  *zoom: 1;
}
.t3-footnav:before,
.t3-footnav:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-footnav:after {
  clear: both;
}
.t3-footnav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 15px;
}
.t3-footnav ul li a {
  display: block;
  padding: 0 0 0 12px;
  line-height: 20px;
  margin-bottom: 5px;
  background: url(../../templates/providores/images/arrow-left.png) no-repeat left 9px;
}
.t3-footnav ul li a:hover,
.t3-footnav ul li a:focus,
.t3-footnav ul li a:active {
  background: url(../../templates/providores/images/arrow-left.png) no-repeat left 9px;
  color: #FB9316;
}
.t3-footnav li {
  line-height: 24px;
}
.t3-footnav .module-title {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  background: #2e2c2b;
  border-left: 6px solid #fb9316;
  padding: 0 10px;
}
.t3-copyright {
  border-top: 1px solid #2f2f2f;
  font-size: 12px;
  padding: 40px 0 80px;
  *zoom: 1;
}
.t3-copyright:before,
.t3-copyright:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright .custom p {
  font-size: 12px;
  color: #696159;
}
.t3-copyright .nav {
  margin-bottom: 0;
}
.t3-copyright .nav ul {
  display: none;
}
.t3-copyright .nav > li {
  display: inline;
}
.t3-copyright .nav > li > a {
  display: inline-block;
  color: white;
  margin-right: 20px;
  font-size: 18px;
  text-transform: uppercase;
}
.t3-copyright .nav > li > a:hover,
.t3-copyright .nav > li > a:focus,
.t3-copyright .nav > li > a:active {
  background: none;
  color: #FB9316;
}
.copyright {
  float: left;
}
.poweredby {
  float: right;
  text-align: right;
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  float: right;
  opacity: .5;
}
.home .box-product {
  margin-left: 0;
}
.account-login-shop #btl .btl-panel > span {
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent !important;
  color: #000 !important;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  border-right: solid 1px #c0b8af !important;
  padding-right: 10px;
  margin-right: 10px;
}
.account-login-shop #header_oc #cart .heading {
  padding-left: 0;
}
.account-login-shop #btl .btl-panel {
  float: left !important;
  border-bottom: solid 1px #c0b8af;
  padding-bottom: 10px;
}
.account-login-shop #header_oc .heading h4 {
  background: url("../../templates/providores/images/shoping-icon.png") no-repeat left center;
  padding-left: 25px;
}
.slideshow .ja-button-control {
  background: transparent;
}
.slideshow .ja-contentslider-left,
.slideshow .ja-contentslider-right {
  background: url("../../templates/providores/images/bc-lr.png") no-repeat left top;
  border: none;
  width: 54px;
  height: 54px;
  z-index: 99;
  top: 200px;
}
.slideshow .ja-contentslider-left {
  right: 0;
  left: 5%;
}
.slideshow .ja-contentslider-right {
  background-position: -56px 0;
  right: 5%;
}
.slideshow .ja-contentslider-center-wrap {
  width: 980px;
  overflow: hidden;
  margin: 0 auto;
}
.slideshow .ja-contentslider-left:hover,
.slideshow .ja-contentslider-right:hover {
  background: url("../../templates/providores/images/bc-lr.png") no-repeat left -56px;
  border: none;
  cursor: pointer;
}
.slideshow .ja-contentslider-right:hover {
  background-position: -56px -56px;
}
.container .ja-sidenews {
  width: 25%;
  float: left;
}
.ja-sidenews img {
  width: 100%;
  opacity: 0.7;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}
.ja-sidenews.ja-even .ja-slidenews-cover {
  top: 0;
}
.ja-sidenews .ja-icon-even,
.ja-sidenews .ja-icon-odd {
  display: block;
  width: 26px;
  height: 13px;
  position: absolute;
  left: 20px;
  background: url("../../templates/providores/images/arrow-new.png");
  z-index: 9;
}
.ja-sidenews .ja-icon-odd {
  bottom: 120px;
  background-position: left top;
}
.ja-sidenews .ja-icon-even {
  top: 120px;
  background-position: left bottom;
}
.ja-sidenews.ja-even img {
  margin-top: 120px;
}
.ja-sidenews:hover h3 {
  color: #fa9215 !important;
}
.ja-sidenews h3 {
  font-size: 24px !important;
}
.ja-sidenews:hover img {
  opacity: 1;
  width: 100%;
}
.t3-sl {
  padding-bottom: 30px;
  padding-top: 0px;
}
@font-face {
  font-family: 'Conv_SverigeScriptClean_Demo';
  src: url('../../templates/providores/fonts/SverigeScript/SverigeScriptClean_Demo.eot');
  src: local('☺'), url('../../templates/providores/fonts/SverigeScript/SverigeScriptClean_Demo.woff') format('woff'), url('../../templates/providores/fonts/SverigeScript/SverigeScriptClean_Demo.ttf') format('truetype'), url('../../templates/providores/fonts/SverigeScript/SverigeScriptClean_Demo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.t3-mainnav .navbar .nav > li {
  display: inline-block;
  float: none;
}
.t3-mainnav .navbar .nav {
  text-align: center;
  float: none;
}
.t3-mainnav .navbar .nav ul {
  text-align: left;
}
.home .t3-sl-3,
.home .t3-sl-4 {
  border: none !important;
}
.home .t3-sl-2 .customtitlenew p {
  font-size: 20px;
  color: black;
  margin-bottom: 40px;
}
.customtitle-shop {
  background: url("../../templates/providores/images/shop-by.png") no-repeat center center;
  margin: 0px 0 30px 0;
}
.customtitle-shop  h3 {
  font-size: 16px;
}
.customtitlenew h3 {
  text-shadow: 0 0 3px #f29400;
  font-size: 50px !important;
  font-family: 'Conv_SverigeScriptClean_Demo';
  margin-bottom: 30px;
}
#ja-sidenews-jasd-modid110,
.customtitle-shop +  .box_oc {
  overflow: hidden;
  padding-bottom: 41px;
  background: url("../../templates/providores/images/shadow.png") no-repeat center bottom;
}
.t3-logos {
  color: #696159 !important;
  text-shadow: 0 1px 0 #000;
}
.t3-logos strong {
  color: #dddfe4;
  display: inline-block;
  padding: 1px 3px;
  margin-left: 4px;
  background: #2e2c2b;
}
#jmslideshow {
  position: relative;
  background: url("../../templates/providores/images/frame-slideshow.png") no-repeat center top;
  margin: 20px auto 30px auto;
  padding: 40px 30px 60px 30px;
  width: 1000px;
}
#jmslideshow #jmslideshow-inner {
  width: 934px;
  margin-left: 43px;
  background: black;
}
#jmslideshow-inner .jmslideshow .cycle-pager {
  left: 50% !important;
  margin-left: -85px;
  background: url("../../templates/providores/images/navigation-slider.png") no-repeat center top;
  min-width: 160px;
  text-align: center;
  min-height: 51px;
  bottom: -40px !important;
}
#jmslideshow-inner .jmslideshow .cycle-pager span {
  background-image: url("../../templates/providores/images/bullet.png");
  background-position: -3px 20px;
  background-repeat: repeat;
  color: rgba(0,0,0,0);
  cursor: pointer;
  display: inline-block;
  float: none;
  margin-top: 17px;
  width: 15px;
}
#jmslideshow-inner .jmslideshow .cycle-pager span.cycle-pager-active {
  background-position: -3px 0px;
}
#jmslideshow-inner  .slideshow-content p,
#jmslideshow-inner .jmslideshow .slideshow-content a {
  display: inline-block;
  background: rgba(0,0,0,0.9);
  font-size: 20px;
  color: white;
  padding: 5px 30px;
  font-family: "QlassikMediumRegular";
  font-weight: bold;
}
#jmslideshow-inner  .slideshow-content {
  background: none;
  border-radius: 0;
  text-align: center;
}
.copyright  .caret {
  display: none !important;
}
.copyright .nav > li > a:active,
.copyright .nav > li > a:hover,
.copyright .nav > li > a:focus,
.copyright  .nav li.dropdown.active a {
  background: none !important;
  color: #F29400 !important;
}

