

.t3-module {
  background: transparent;
  color: inherit;
  margin-bottom: 40px;
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: inherit;
  color: #444;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding: 0;
}
.module-ct {
  background: inherit;
  color: inherit;
  padding: 0;
  *zoom: 1;
}
.module-ct:before,
.module-ct:after {
  display: table;
  content: "";
  line-height: 0;
}
.module-ct:after {
  clear: both;
}
.t3-module ul,
.t3-module ol {
  margin-left: 20px;
}
.t3-module ul.unstyled,
.t3-module ol.unstyled,
.t3-module ul.nav,
.t3-module ol.nav {
  margin-left: 0;
}
.module_menu .nav {
  margin-bottom: 20px;
}
.module_menu .nav > li {
  border-top: 1px solid #eee;
}
.module_menu .nav > li > a {
  padding: 5px;
}
.module_menu .nav > li:first-child {
  border-top: 0;
}
.module_menu .nav > li:first-child > a {
  padding-top: 0;
  border-top: 0;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 90%;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #ddd;
  font-size: 12px;
  padding-top: 10px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
  padding-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eee;
}
.feed .newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed .feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eee;
  display: inline-block;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
div.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
div.tagspopular ul li {
  color: #666;
  display: inline-block;
  margin: 0 5px 5px 0;
}
div.tagspopular ul li a {
  background: #eee;
  border-radius: 3px;
  color: #666;
  display: block;
  padding: 2px 5px;
}
div.tagspopular ul li a:hover,
div.tagspopular ul li a:focus,
div.tagspopular ul li a:active {
  background: #00466f;
  color: #fff;
  text-decoration: none;
}
div.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.tagssimilar ul li {
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}
div.tagssimilar ul li a {
  color: #666;
}
div.tagssimilar ul li a:hover,
div.tagssimilar ul li a:focus,
div.tagssimilar ul li a:active {
  color: #00466f;
}

