

.t3-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  float: left;
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image {
  overflow: hidden;
  text-align: center;
}
.logo-image a {
  background-image: url("../../templates/providores/images/logo.png");
  background-repeat: no-repeat;
  width: 305px;
  height: 130px;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text a {
  color: #444;
  text-decoration: none;
  font-size: 17.5px;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.head-search {
  float: right;
  margin-top: 20px;
}
.head-search form {
  margin: 0;
  float: right;
}
.head-search label {
  display: none;
}
.head-search .input {
  background: url("../../templates/providores/images/ico/search-invert.png") no-repeat 8px center;
  width: 120px;
  padding-left: 26px;
}
.head-search .input:focus {
  color: #444;
  width: 180px;
}
.t3-sl {
  padding-bottom: 60px;
  padding-top: 60px;
}
.t3-mainbody {
  padding-bottom: 40px;
  padding-top: 40px;
}
.t3-footer {
  background: #1f1f1f;
  color: #ffffff;
  *zoom: 1;
}
.t3-footer:before,
.t3-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer a {
  color: #ffffff;
  font-size: 14px;
}
.t3-footer a:hover,
.t3-footer a:active,
.t3-footer a:focus {
  color: #e6e6e6;
}
.t3-footnav {
  padding: 60px 0 40px;
  *zoom: 1;
}
.t3-footnav:before,
.t3-footnav:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-footnav:after {
  clear: both;
}
.t3-footnav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 15px;
}
.t3-footnav ul li a {
  display: block;
  padding: 0 0 0 12px;
  line-height: 20px;
  margin-bottom: 5px;
  background: url(../../templates/providores/images/arrow-left.png) no-repeat left 9px;
}
.t3-footnav ul li a:hover,
.t3-footnav ul li a:focus,
.t3-footnav ul li a:active {
  background: url(../../templates/providores/images/arrow-left.png) no-repeat left 9px;
  color: #FB9316;
}
.t3-footnav li {
  line-height: 24px;
}
.t3-footnav .module-title {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  background: #2e2c2b;
  border-left: 6px solid #fb9316;
  padding: 0 10px;
}
.t3-copyright {
  border-top: 1px solid #2f2f2f;
  font-size: 12px;
  padding: 40px 0 80px;
  *zoom: 1;
}
.t3-copyright:before,
.t3-copyright:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright .custom p {
  font-size: 12px;
  color: #696159;
}
.t3-copyright .nav {
  margin-bottom: 0;
}
.t3-copyright .nav ul {
  display: none;
}
.t3-copyright .nav > li {
  display: inline;
}
.t3-copyright .nav > li > a {
  display: inline-block;
  color: white;
  margin-right: 20px;
  font-size: 18px;
  text-transform: uppercase;
}
.t3-copyright .nav > li > a:hover,
.t3-copyright .nav > li > a:focus,
.t3-copyright .nav > li > a:active {
  background: none;
  color: #FB9316;
}
.copyright {
  float: left;
}
.poweredby {
  float: right;
  text-align: right;
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  float: right;
  opacity: .5;
}
.home .box-product {
  margin-left: 0;
}
.account-login-shop #btl .btl-panel > span {
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent !important;
  color: #000 !important;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  border-right: solid 1px #c0b8af !important;
  padding-right: 10px;
  margin-right: 10px;
}
.account-login-shop #header_oc #cart .heading {
  padding-left: 0;
}
.account-login-shop #btl .btl-panel {
  float: left !important;
  border-bottom: solid 1px #c0b8af;
  padding-bottom: 10px;
}
.account-login-shop #header_oc .heading h4 {
  background: url("../../templates/providores/images/shoping-icon.png") no-repeat left center;
  padding-left: 25px;
}
.slideshow .ja-button-control {
  background: transparent;
}
.slideshow .ja-contentslider-left,
.slideshow .ja-contentslider-right {
  background: url("../../templates/providores/images/bc-lr.png") no-repeat left top;
  border: none;
  width: 54px;
  height: 54px;
  z-index: 99;
  top: 200px;
}
.slideshow .ja-contentslider-left {
  right: 0;
  left: 5%;
}
.slideshow .ja-contentslider-right {
  background-position: -56px 0;
  right: 5%;
}
.slideshow .ja-contentslider-center-wrap {
  width: 980px;
  overflow: hidden;
  margin: 0 auto;
}
.slideshow .ja-contentslider-left:hover,
.slideshow .ja-contentslider-right:hover {
  background: url("../../templates/providores/images/bc-lr.png") no-repeat left -56px;
  border: none;
  cursor: pointer;
}
.slideshow .ja-contentslider-right:hover {
  background-position: -56px -56px;
}

