

form {
  margin: 0 0 20px;
}
input,
textarea {
  width: 210px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
  -moz-transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
  -o-transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
  transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #999999;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.25);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.25);
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #ddd;
}
select[multiple],
select[size] {
  height: auto;
}
.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  padding-top: 5px;
  margin-bottom: 0;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.radio.btn-group input[type=radio] {
  display: none;
}
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
fieldset.radio.btn-group {
  padding-left: 0;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
.help-block,
.help-inline {
  color: #8c8c8c;
}
.help-block {
  margin-bottom: 10px;
}
.input-append,
.input-prepend {
  margin-bottom: 5px;
}
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  margin-bottom: 0;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
}
.form-horizontal .control-label {
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 160px;
}
.form-horizontal .help-block {
  margin-top: 10px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
.form-vertical .control-label {
  float: none;
  width: auto;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}
.form-vertical .controls {
  margin-left: 0;
}
.btn,
.button,
button {
  padding: 4px 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.1);
  color: #666;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top,#ffffff,#eee);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#eee));
  background-image: -webkit-linear-gradient(top,#ffffff,#eee);
  background-image: -o-linear-gradient(top,#ffffff,#eee);
  background-image: linear-gradient(to bottom,#ffffff,#eee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eee #eee #c8c8c8;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
.button:hover,
.button:focus,
.button:active,
.button.active,
.button.disabled,
.button[disabled],
button:hover,
button:focus,
button:active,
button.active,
button.disabled,
button[disabled] {
  color: #666;
  background-color: #eee;
  *background-color: #e1e1e1;
}
.btn:active,
.btn.active,
.button:active,
.button.active,
button:active,
button.active {
  background-color: #d5d5d5 \9;
}
.btn:hover,
.btn a.btn:hover,
.button:hover,
.button a.btn:hover,
button:hover,
button a.btn:hover {
  text-decoration: none;
  background-color: #eee;
}
.btn:focus,
.btn a.btn:focus,
.button:focus,
.button a.btn:focus,
button:focus,
button a.btn:focus {
  outline: 0;
}
.btn.active,
.btn:active,
.btn a.btn:active,
.button.active,
.button:active,
.button a.btn:active,
button.active,
button:active,
button a.btn:active {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.5);
}
.btn-small {
  padding: 3px 9px;
  font-size: 13px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 12px;
}
.btn-micro {
  padding: 1px 4px;
  font-size: 10px;
  line-height: 8px;
}
.btn {
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #008ada;
  background-image: -moz-linear-gradient(top,#0097ee,#07b);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#0097ee),to(#07b));
  background-image: -webkit-linear-gradient(top,#0097ee,#07b);
  background-image: -o-linear-gradient(top,#0097ee,#07b);
  background-image: linear-gradient(to bottom,#0097ee,#07b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0097ed', endColorstr='#ff0077bb', GradientType=0);
  border-color: #07b #07b #00466f;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #07b;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #07b;
  *background-color: #0067a2;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #005788 \9;
}
.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #ff961f;
  background-image: -moz-linear-gradient(top,#ffa033,#f80);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffa033),to(#f80));
  background-image: -webkit-linear-gradient(top,#ffa033,#f80);
  background-image: -o-linear-gradient(top,#ffa033,#f80);
  background-image: linear-gradient(to bottom,#ffa033,#f80);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9f32', endColorstr='#ffff8800', GradientType=0);
  border-color: #f80 #f80 #b35f00;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #f80;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #fff;
  background-color: #f80;
  *background-color: #e67a00;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #cc6d00 \9;
}
.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #eb0000;
  background-image: -moz-linear-gradient(top,#ff0000,#c00);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff0000),to(#c00));
  background-image: -webkit-linear-gradient(top,#ff0000,#c00);
  background-image: -o-linear-gradient(top,#ff0000,#c00);
  background-image: linear-gradient(to bottom,#ff0000,#c00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000', endColorstr='#ffcc0000', GradientType=0);
  border-color: #c00 #c00 #800000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #c00;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #fff;
  background-color: #c00;
  *background-color: #b30000;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #990000 \9;
}
.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #7ab800;
  background-image: -moz-linear-gradient(top,#88cc00,#690);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#88cc00),to(#690));
  background-image: -webkit-linear-gradient(top,#88cc00,#690);
  background-image: -o-linear-gradient(top,#88cc00,#690);
  background-image: linear-gradient(to bottom,#88cc00,#690);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff87cc00', endColorstr='#ff669900', GradientType=0);
  border-color: #690 #690 #334d00;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #690;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #690;
  *background-color: #558000;
}
.btn-success:active,
.btn-success.active {
  background-color: #446600 \9;
}
.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #00b0eb;
  background-image: -moz-linear-gradient(top,#00bfff,#09c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#00bfff),to(#09c));
  background-image: -webkit-linear-gradient(top,#00bfff,#09c);
  background-image: -o-linear-gradient(top,#00bfff,#09c);
  background-image: linear-gradient(to bottom,#00bfff,#09c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00bfff', endColorstr='#ff0099cc', GradientType=0);
  border-color: #09c #09c #006080;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #09c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #fff;
  background-color: #09c;
  *background-color: #0086b3;
}
.btn-info:active,
.btn-info.active {
  background-color: #007399 \9;
}
.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #535353;
  background-image: -moz-linear-gradient(top,#5e5e5e,#444);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5e5e5e),to(#444));
  background-image: -webkit-linear-gradient(top,#5e5e5e,#444);
  background-image: -o-linear-gradient(top,#5e5e5e,#444);
  background-image: linear-gradient(to bottom,#5e5e5e,#444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5d5d5d', endColorstr='#ff444444', GradientType=0);
  border-color: #444 #444 #1e1e1e;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #444;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #fff;
  background-color: #444;
  *background-color: #373737;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #2b2b2b \9;
}
.invalid {
  border-color: #c00;
}
label.invalid {
  color: #c00;
}
input.invalid {
  border: 1px solid #c00;
}

